.header {
    padding: 1.6rem 10rem;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    transition: all 0.3s;
    display: flex;
    justify-content: center;

    @include respond(bp-768) {
        padding: 1.6rem 5rem;
    }
    @include respond(bp-500) {
        padding: 1.6rem 2rem;
    }
    //navbar phone

    &-phone {
        transform: translateY(-100%);
        padding: 1.6rem 10rem 3.2rem 10rem;
        position: fixed;
        top: 0;
        z-index: 11;
        width: 100%;
        height: 100%;
        background-color: $color-secondary;
        transition: all 0.2s linear;
        opacity: 0;
        visibility: hidden;
        display: none;

        @include respond(tab-land) {
            display: flex;
        }
        @include respond(bp-768) {
            padding: 1.6rem 5rem 3.2rem 5rem;
        }
        @include respond(bp-500) {
            padding: 1.6rem 2rem 3.2rem 2rem;
        }
        &-container {
            max-width: 144rem;
            width: 100%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 3.2rem;

            & > * {
                &::-webkit-scrollbar {
                    width: 1rem;

                    &-track {
                        background-color: rgba(
                            $color: $color-primary,
                            $alpha: 0.1
                        );
                        border-radius: 1rem;
                    }
                    &-thumb {
                        background-color: $color-primary;
                        border-radius: 1rem;
                    }
                }
            }

            .header-phone-top {
                align-self: stretch;
                display: flex;
                justify-content: space-between;
                align-items: center;
                &__logo {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    img {
                        height: 5rem;
                    }
                    p {
                        color: #fff;
                        font-size: 1.6rem;
                        font-weight: 700;
                        text-transform: uppercase;
                    }
                }
                &__btn {
                    ion-icon {
                        font-size: 4rem;
                        color: #fff;
                        cursor: pointer;
                        transition: all 0.2s;
                        &:hover {
                            transform: scale(1.3);
                        }
                    }
                }
            }
            .header-phone-list {
                display: flex;
                width: 100%;
                flex-direction: column;
                align-items: center;
                gap: 3.2rem;
                height: 100%;
                &-item {
                    color: $color-grey;
                    font-size: 2rem;
                    font-weight: 400;
                    position: relative;
                    cursor: pointer;
                    width: fit-content;
                }

                &-dropdown {
                    position: relative;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1rem;
                    width: 100%;
                    &-box {
                        width: 100%;
                        border-radius: 5px;
                        overflow: hidden;
                        display: flex;
                        flex-direction: column;
                        z-index: 1;
                        text-align: center;

                        -webkit-transition: max-height 1s;
                        -moz-transition: max-height 1s;
                        -ms-transition: max-height 1s;
                        -o-transition: max-height 1s;
                        transition: max-height 1s;

                        overflow: hidden;
                        max-height: 0;
                    }
                    span {
                        color: $color-grey;
                        font-size: 2rem;
                        font-weight: 400;
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                        ion-icon {
                            font-size: 1.6rem;
                            min-height: 1.6rem;
                            min-height: 1.6rem;
                            color: white;
                        }
                    }

                    a {
                        font-size: 1.8rem;
                        padding: 1rem 2rem;
                        background: $color-secondary-2;
                        white-space: nowrap;
                        color: white;
                        transition: all 0.2s;

                        &:hover {
                            background-color: $color-secondary;
                        }
                    }
                }
            }
        }
    }

    // navbar desktop
    &__dropdown {
        cursor: pointer;
        display: none;
        transition: all 0.2s;
        &:hover {
            transform: scale(1.3);
        }
        @include respond(tab-land) {
            display: flex;
        }
        ion-icon {
            font-size: 4rem;
            color: #fff;
        }
    }

    &-container {
        max-width: 144rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 1rem;
        img {
            height: 5rem;
        }
        p {
            color: #fff;
            font-size: 1.6rem;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 3.2rem;

        @include respond(tab-land) {
            display: none;
        }
        &-box {
            position: relative;

            &--item {
                color: $color-grey;
                font-size: 1.6rem;
                font-weight: 400;
                cursor: pointer;
                &.btn-join {
                    padding: 1rem 2rem;
                    border-radius: 0.5rem;
                    color: $color-primary;
                    border: solid 1px $color-primary;
                    transition: all 0.3s;
                    &:hover {
                        background: $color-primary;
                        color: #fff;
                    }
                }
            }

            // dropdown profile page

            &-dropdown {
                position: absolute;
                top: 3rem;
                left: -9rem;
                z-index: 10;
                transition: all 0.3s ease;
                opacity: 0;
                visibility: hidden;

                .header-dropdown {
                    border-radius: 0.5rem;
                    &-wrapper {
                        display: flex;
                        flex-direction: column;
                        &__list {
                            background-color: #fff;
                            padding: 1rem 1.4rem;
                            cursor: pointer;
                            white-space: nowrap;
                            font-size: 1.4rem;
                            display: flex;
                            gap: 1rem;
                            &:not(:last-child) {
                                // border-bottom: solid 1px
                                //     rgba($color: $color-secondary, $alpha: 0.5);
                            }
                            &:hover {
                                background-color: #f6f7f9;
                            }

                            &:first-child {
                                border-radius: 5px 5px 0 0;
                            }
                            &:last-child {
                                border-radius: 0 0 5px 5px;
                            }

                            &--left {
                                ion-icon {
                                    color: $color-secondary;
                                    font-size: 2rem;
                                }
                            }
                            &--right {
                                p {
                                    &:nth-child(1) {
                                        font-size: 1.4rem;
                                        font-weight: 600;
                                        margin-bottom: 0.5rem;
                                    }
                                    &:nth-child(2) {
                                        font-size: 1.2rem;
                                        font-weight: 300;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
