.artikel {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        &--bg {
            margin-top: 8.52rem;
            height: 13rem;
            width: 100%;
            background-color: #f3f3f4;
        }
        &--header {
            width: 100%;
            position: relative;
            padding: 5rem 10rem;
            padding-top: 8rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5rem;

            @include respond(bp-500) {
                padding: 5rem 2rem;
                padding-top: 8rem;
            }
            &__search {
                max-width: 144rem;
                position: absolute;
                top: -3rem;
                z-index: 2;
                width: 100%;
                display: flex;
                justify-content: center;
                .artikel-search {
                    width: 50%;
                    background-color: #fff;
                    box-shadow: 0px 0.8rem 2rem rgba(0, 0, 0, 0.1);
                    border-radius: 1rem;
                    padding: 2rem 3rem;
                    display: flex;
                    gap: 1rem;
                    align-items: center;

                    @include respond(phone) {
                        width: 80%;
                        padding: 2rem;
                    }
                    ion-icon {
                        font-size: 2rem;
                        color: #9e9ea7;
                        font-weight: 600;
                    }
                    input {
                        font-size: 1.6rem;
                        border: none;
                        outline: none;
                        color: $color-secondary;
                        width: 100%;

                        &::placeholder {
                            color: #9e9ea7;
                        }
                    }
                }
            }
            &__title {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                align-items: center;
                p {
                    cursor: pointer;
                    &:nth-child(1) {
                        text-transform: capitalize;
                        font-size: 3.2rem;
                        font-weight: 600;
                    }
                    &:nth-child(2) {
                        font-size: 1.6rem;
                        color: #9e9ea7;
                    }
                }
            }
        }
        &--content {
            max-width: 144rem;
            width: 100%;
            padding: 0 10rem 5rem 10rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1.6rem;

            @include respond(bp-768) {
                padding: 5rem;
                padding-top: 0;
            }
            @include respond(bp-500) {
                padding: 2rem;
                padding-top: 0;
            }
            .artikel-container {
                @include respond(bp-400) {
                    width: 100%;
                }
                &-box {
                    width: fit-content;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    background: #f6f7f9;
                    padding: 1rem;
                    border-radius: 1rem;
                    @include respond(bp-400) {
                        width: 100%;
                    }
                    &__top {
                        height: 30rem;
                        width: 30rem;
                        position: relative;
                        @include respond(bp-400) {
                            width: 100%;
                        }
                        &--img {
                            cursor: pointer;
                            border-radius: 1rem;
                            height: 100%;
                            width: 100%;
                            background-position: 50% !important;
                            background-repeat: no-repeat !important;
                            background-size: cover !important;
                        }
                        &--info {
                            cursor: pointer;
                            opacity: 0;
                            visibility: hidden;
                            transition: all 0.3s;
                            top: 0;
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            padding: 1rem;
                            display: flex;
                            align-items: flex-end;
                            justify-content: space-between;
                            background: linear-gradient(
                                to bottom,
                                transparent,
                                transparent,
                                rgba(0, 0, 0, 0.7)
                            );

                            @include respond(phone) {
                                opacity: 1;
                                visibility: visible;
                            }
                            &-box {
                                display: flex;
                                flex-direction: column;
                                gap: 2rem;
                                align-items: flex-start;
                                width: 100%;
                                p {
                                    color: #fff;
                                    &:nth-child(1) {
                                        font-size: 1.6rem;
                                        font-weight: 600;
                                    }
                                    &:nth-child(2) {
                                        font-size: 1.2rem;
                                        font-weight: 400;
                                    }
                                }
                                button {
                                    cursor: pointer;
                                    display: flex;
                                    align-items: center;
                                    gap: 0.5rem;
                                    background-color: transparent;
                                    outline: none;
                                    border: none;
                                    color: $color-primary;
                                    ion-icon {
                                        color: $color-primary;

                                        font-size: 2rem;
                                    }
                                }
                            }
                        }
                    }
                    &__bot {
                        display: flex;
                        gap: 1rem;
                        align-items: center;
                        justify-content: end;
                        p {
                            color: #9e9ea7;
                            display: flex;
                            align-items: center;
                            gap: 0.3rem;
                            &:nth-child(1) {
                            }
                            &:nth-child(2) {
                            }
                            ion-icon {
                                color: #9e9ea7;
                                font-size: 1.6rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

.detail-artikel,
.detail-berita {
    margin-top: 8.52rem;

    &-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;

        &__header {
            display: flex;
            align-items: center;
            flex-direction: column;
            background-color: #f6f7f9;
            width: 100%;
            &-wrapper {
                max-width: 144rem;
                width: 100%;
                padding: 3rem;
                display: flex;
                align-items: center;
                gap: 2rem;
                p {
                    &:nth-child(1) {
                        ion-icon {
                            font-size: 3rem;
                            cursor: pointer;
                            transition: all 0.2s;
                            &:hover {
                                transform: scale(1.3);
                            }
                        }
                    }
                    &:nth-child(2) {
                        font-size: 2rem;
                        font-weight: 600;
                    }
                }
            }
        }
        &__content {
            width: 100%;
            max-width: 144rem;
            padding: 5rem 3rem;
            display: flex;
            justify-content: space-between;
            gap: 5rem;

            @include respond(bp-1100) {
                flex-direction: column;
            }
            &--pri {
                width: 100%;
                .detail-artikel-info,
                .detail-berita-info {
                    display: flex;
                    flex-direction: column;
                    gap: 3rem;
                    &--title {
                        p {
                            &:nth-child(1) {
                                font-size: 1.6rem;
                                font-weight: 400;
                                color: rgba($color: #000000, $alpha: 0.7);
                                margin-bottom: 2.4rem;
                            }
                            &:nth-child(2) {
                                font-size: 3.6rem;
                                font-weight: 600;

                                @include respond(bp-400) {
                                    font-size: 4rem;
                                }
                                @include respond(bp-320) {
                                    font-size: 3.2rem;
                                }
                            }
                        }
                    }
                    &--img {
                        &-img {
                            height: 50rem;
                            width: 100%;
                            background-position: 50% !important;
                            background-repeat: no-repeat !important;
                            background-size: cover !important;
                            @include respond(bp-400) {
                                height: 40rem;
                            }
                            @include respond(bp-320) {
                                height: 30rem;
                            }
                        }
                    }
                    &--info {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        p {
                            font-size: 1.8rem;
                            font-weight: 400;
                        }
                    }
                    &--btn {
                    }
                }
            }
            &--sec {
                padding-left: 3rem;
                border-left: solid 2px $color-secondary;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                width: 35%;
                @include respond(bp-1100) {
                    padding-left: 0;
                    border-left: 0;
                }

                &-line {
                    color: #f6f7f9;
                }
                &-line {
                    width: 100%;
                    border: 0;
                    border-top: solid 2px $color-secondary;
                }
                .berita-box {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    cursor: pointer;
                    transition: all 0.2s;
                    border-radius: 5px;
                    padding: 2rem;
                    gap: 1rem;

                    @include respond(bp-768) {
                        flex-direction: column;
                        gap: 2rem;
                        align-items: flex-start;
                    }
                    &:hover {
                        background-color: #f6f7f9;

                        .berita-box__right--bottom p:nth-child(2) {
                            transform: scale(1.3);
                        }
                    }

                    &__left {
                        height: 15rem;
                        width: 20rem;
                        min-width: 20rem;
                        background-position: 50% !important;
                        background-size: cover !important;
                        border-radius: 0.5rem;
                        background-repeat: no-repeat !important;
                    }
                    &__right {
                        @include respond(bp-768) {
                            padding: 0;
                        }
                        &--title {
                            font-size: 1.6rem;
                            color: $color-dark;
                            font-weight: 700;
                            margin-bottom: 8px;
                        }
                        &--desc {
                            font-size: 1.2rem;
                            font-weight: 400;
                            color: $color-m-dark;
                            margin-bottom: 1.6rem;
                        }
                        &--bottom {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            p:nth-child(1) {
                                font-size: 1.2rem;
                                font-weight: 400;
                                color: $color-m-dark;
                            }
                            p:nth-child(2) {
                                font-size: 2rem;
                                color: $color-dark;
                                transition: all 0.2s;
                            }
                        }
                    }
                }
            }
        }
    }
}
