$color-primary: #ffc107;
$color-secondary: #132133;
$color-secondary-2: #25374f;
$color-dark: #0c101a;
$color-m-dark: #919fae;
$color-grey: #cecdcd;
$color-border: #d2e0ea;
$color-blue: #60c1f8;

.undesc {
    overflow: hidden !important;
    text-overflow: unset !important;
    white-space: unset !important;
    display: unset !important;
    -webkit-line-clamp: unset !important;
    -webkit-box-orient: unset !important;
}

.header-dark {
    background-color: $color-secondary !important;
}

.header-up {
    top: -8.2rem;
}

.active-link {
    color: #fff !important;
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 600 !important;
    &::after {
        content: "";
        font-size: 1rem;
        position: absolute;
        left: 50%;
        bottom: -20%;
        transform: translate(-50%, 0);
        height: 3px;
        width: 50%;
        background-color: #fff;
        border-radius: 1px;
    }
}

.active-link-hover {
    color: #fff !important;
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 600 !important;
    &::after {
        content: "";
        font-size: 1rem;
        position: absolute;
        left: 50%;
        bottom: -20%;
        transform: translate(-50%, 0);
        height: 3px;
        width: 50%;
        background-color: #fff;
        border-radius: 1px;
    }
}
.overflow-visible {
    overflow: visible !important;
}
.mh-15 {
    max-height: 15rem !important;
}

.show {
    opacity: 1 !important;
    visibility: visible !important;
}
.hide {
    opacity: 0 !important;
    visibility: hidden !important;
}
.trans-100 {
    transform: translate(0, -100%) !important;
}
.trans-0 {
    transform: translate(0, 0) !important;
}
.btn-top-swipe {
    top: -2.5rem !important;
}

.bg-primary {
    background: $color-primary;
}
.bg-grey {
    background-color: #f3f3f4;
}
.bg-grey-blue {
    background-color: #f6f7f9;
}
.w-100 {
    width: 100%;
}
.p {
    &x {
        &-500 {
            padding-left: 5rem;
            padding-right: 5rem;
        }
        &-100 {
            padding-left: 10rem;
            padding-right: 10rem;
            @include respond(bp-768) {
                padding-left: 5rem;
                padding-right: 5rem;
            }
        }
    }
    &y {
        &-50 {
            padding-top: 5rem;
            padding-bottom: 5rem;
        }
        &-100 {
            padding-top: 10rem;
            padding-bottom: 10rem;
            @include respond(bp-768) {
                padding-top: 5rem;
                padding-bottom: 5rem;
            }
        }
    }
}

.m {
    &t {
        &-1 {
            margin-top: 1rem;
        }
    }
}

.unvalidated {
    color: #dc3545;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: 5px;
    text-transform: capitalize;

    ion-icon {
        font-size: 1.6rem;
    }
    &-input {
        outline: solid 3px #dc3545;
    }
}

.d-flex {
    display: flex;
    &-400-column {
        @include respond(bp-400) {
            flex-direction: column;
        }
    }
}
.flex {
    &-column {
        flex-direction: column;
    }
    &-grow {
        flex: 1;
    }
    &-center {
        justify-content: center;
    }
}

.m {
    &t {
        &-top {
            margin-top: 8.25rem !important;
        }
    }
}
.gap {
    &-1 {
        gap: 1rem;
    }
}
